.profile-img{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    border: 6px solid rgba(255, 255, 255, 0.7);

}
.bg-image-1{
    background-image: url("../../static/img/background/bg-5.jpg");
}
.transparent{
    opacity: .6;
}
h4{
    color: white;
}
input{
    background-color: rgba(255, 255, 255, 0.2) !important;
    color: white !important;
}
.profile-img{
    text-align: center;
}
.profile-img .file input {
    position: absolute !important;
    opacity: 0;
    right: 0;
    top: 0;
}


.file-upload {
    display: none;
    margin-left: 0;
    margin-right: 20px;
}

img {
    max-width: 100%;
    height: auto;
}
.p-image {
    position: absolute;
    top: 167px;
    right: 30px;
    color: #666666;
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}
.p-image:hover {
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}
.upload-button {
    position: relative;
    font-size: 1.2em;
    margin-right: 5.5em;
    color: white;
}

.upload-button:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
  color: #007bff;
}
