{% extends 'base.html' %}
{% load static %}

{% block title %} Sign In {% endblock %}

{% block content %}

<div class="get_in_tauch_area" style="background-image: url('{% static 'img/background/bg-5.jpg' %}')">
    <div class="container">

        {# icluded django message template for messages #}
        {% include 'django_message.html' %}

        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section_title text-center mb-10">
                    <h3 class="wow fadeInUp text-white" data-wow-duration="1s" data-wow-delay=".3s">Sign In</h3>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="touch_form">
                    <form method="post">
                        {% csrf_token %}
                        <div class="row col-12">
                            <div class="col-3"></div>
                            <div class="col-6 pull-center">
                                <div class="col-md-12">
                                    <div class="single_input wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                                        <input name="username" type="text" placeholder="Username" >
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="single_input wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
                                        <input name="password" type="password" placeholder="Password" >
                                    </div>
                                </div>
                                <div class="col-md-12 pull-right mb-3">
                                    <div class="submit_btn wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
                                        <button class="boxed-btn3" type="submit">Sign In</button>
                                    </div>
                                </div>
                                <div class="col-md-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".7s">
                                    <div class="pull-left ml-3">
                                        <a class="text-white text-left" href="#">Forgot Password?</a>
                                    </div>
                                    <div class="pull-right mr-3" data-wow-duration="1s" data-wow-delay=".7s">
                                        <a class="text-white text-left" href="{% url 'sign_up' %}">Sign Up</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block extrajs %}

{% endblock %}