{% load static %}

<div class="team_area ">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section_title text-center mb-90">
                    <h3 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">Our Creative Team</h3>
                    <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">Tour function information without cross action media value quickly maximize timely deliverables.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="single_team wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                    <div class="team_thumb">
                        <img src="{% static 'img/team/1.png' %}"" alt="">
                        <div class="team_hover">
                            <div class="hover_inner text-center">
                                <ul>
                                    <li><a href="{% static '#"> <i class="fa fa-facebook"></i> </a></li>
                                    <li><a href="{% static '#"> <i class="fa fa-twitter"></i> </a></li>
                                    <li><a href="{% static '#"> <i class="fa fa-instagram"></i> </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="team_title text-center">
                        <h3>Brandon Yeald</h3>
                        <p>Founder & CEO</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single_team wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
                    <div class="team_thumb">
                        <img src="{% static 'img/team/2.png' %}"" alt="">
                        <div class="team_hover">
                            <div class="hover_inner text-center">
                                <ul>
                                    <li><a href="{% static '#"> <i class="fa fa-facebook"></i> </a></li>
                                    <li><a href="{% static '#"> <i class="fa fa-linkedin"></i> </a></li>
                                    <li><a href="{% static '#"> <i class="fa fa-google-plus"></i> </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="team_title text-center">
                        <h3>Calvin Anderson</h3>
                        <p>Graphics Designer</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single_team wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">
                    <div class="team_thumb">
                        <img src="{% static 'img/team/3.png' %}"" alt="">
                        <div class="team_hover">
                            <div class="hover_inner text-center">
                                <ul>
                                    <li><a href="#"> <i class="fa fa-facebook"></i> </a></li>
                                    <li><a href="#"> <i class="fa fa-linkedin"></i> </a></li>
                                    <li><a href="#"> <i class="fa fa-google-plus"></i> </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="team_title text-center">
                        <h3>Roman Solo</h3>
                        <p>Wordpress Developer</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single_team wow fadeInUp" data-wow-duration="1s" data-wow-delay=".8s">
                    <div class="team_thumb">
                        <img src="{% static 'img/team/4.png' %}"" alt="">
                        <div class="team_hover">
                            <div class="hover_inner text-center">
                                <ul>
                                    <li><a href="#"> <i class="fa fa-facebook"></i> </a></li>
                                    <li><a href="#"> <i class="fa fa-linkedin"></i> </a></li>
                                    <li><a href="#"> <i class="fa fa-google-plus"></i> </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="team_title text-center">
                        <h3>Yeald Kin</h3>
                        <p>Software Engineer</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>